<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Filter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='controllers/firstController.js'></script>
  </head>
  <body>
      <div ng-controller='firstController'>
        Search Friends: <input type="text" ng-model="filter_name">
        <ul>
          <!-- NOTE THE FILTER : filter_name in the repeat list -->
          <li ng-repeat="x in friends | filter:filter_name | orderBy:'name'">
            {{ x.name }} - age {{ x.age | number:0 }}, gender {{ x.gender | uppercase }}
          </li>
        </ul>
      </div>
  </body>
  </html>
